body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.divcontainer {
    text-align: center;
    background-color: #222;
    padding: 20px;
    margin-top: 15px;
    width: 300px;
}

h1{
    font-size: 22px;
    color: #aaaaaa;
    margin-bottom: 20px;
    text-align: center;
}

.password-output {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#password {
    flex: 1;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#copyBtn {
    padding: 10px;
    color: #67c56b;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.settings {
    text-align: left;
}

#length {
    width: 100%;
    margin-top: 10px;
}

#lengthVal{
    float: right;
    color: #67c56b;
    font-size: 18px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
}

.strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#strength-indicator {
    width: 100px;
    height: 10px;
    background-color: #444;
    border-radius: 5px;
    margin-left: 10px;
}

#generateBtn {
    width: 100%;
    padding: 10px;
    background-color: #67c56b;
    border: none;
    cursor: pointer;
}

.gg-copy {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 18px;
    border: 2px solid;
    margin-left: -5px;
    margin-top: -4px
  }
  .gg-copy::after,
  .gg-copy::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }
  .gg-copy::before {
    background:
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat right top/5px 2px,
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat left bottom/ 2px 5px;
    box-shadow: inset -4px -4px 0 -2px;
    bottom: -6px;
    right: -6px;
    width: 14px;
    height: 18px
  }
  .gg-copy::after {
    width: 6px;
    height: 2px;
    background: currentColor;
    left: 2px;
    top: 2px;
    box-shadow: 0 4px 0,0 8px 0
  }